nodered-flow.txt
[{"id":"bf661f9.88d9de","type":"tab","label":"Flow 1"},{"id":"393373.a17bfc8e","type":"ttn message","z":"bf661f9.88d9de","name":"Sensor","app":"e2111417.a55658","devId":"sensor_04","field":"celcius","x":108,"y":95,"wires":[["db4d000b.7694b","3e058bd4.639e94","b656f0a.346951","63fc5630.c032f8"]]},{"id":"db4d000b.7694b","type":"debug","z":"bf661f9.88d9de","name":"","active":true,"console":"false","complete":"false","x":341,"y":96,"wires":[]},{"id":"3e058bd4.639e94","type":"range","z":"bf661f9.88d9de","minin":"15","maxin":"25","minout":"10","maxout":"170","action":"clamp","round":true,"name":"","x":281,"y":175,"wires":[["cb995422.eb5e28","c469d856.fa3408"]]},{"id":"cb995422.eb5e28","type":"debug","z":"bf661f9.88d9de","name":"","active":true,"console":"false","complete":"false","x":477,"y":184,"wires":[]},{"id":"c469d856.fa3408","type":"function","z":"bf661f9.88d9de","name":"To ESP","func":"msg.url = \"http://192.168.0.137/control?cmd=Servo,1,13,\"+\nmsg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":288,"y":273,"wires":[["f3055dee.545db"]]},{"id":"f3055dee.545db","type":"http request","z":"bf661f9.88d9de","name":"","method":"GET","ret":"txt","url":"","tls":"","x":457,"y":267,"wires":[[]]},{"id":"b656f0a.346951","type":"switch","z":"bf661f9.88d9de","name":"Switching","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"str"},{"t":"gt","v":"20","vt":"str"}],"checkall":"true","outputs":2,"x":252,"y":379,"wires":[["574ad395.d8ccec"],["db2f5a5d.617968"]]},{"id":"574ad395.d8ccec","type":"function","z":"bf661f9.88d9de","name":"LED 12 on","func":"msg.url = \"http://192.168.0.137/control?cmd=GPIO,12,1\"\nreturn msg;\n","outputs":1,"noerr":0,"x":488,"y":320,"wires":[["e0d0e0cd.0c42"]]},{"id":"db2f5a5d.617968","type":"function","z":"bf661f9.88d9de","name":"LED 12 off","func":"msg.url = \"http://192.168.0.137/control?cmd=GPIO,12,0\"\nreturn msg;\n","outputs":1,"noerr":0,"x":487,"y":387,"wires":[["2b8c773b.110758"]]},{"id":"e0d0e0cd.0c42","type":"http request","z":"bf661f9.88d9de","name":"","method":"GET","ret":"txt","url":"","tls":"","x":683,"y":315,"wires":[[]]},{"id":"2b8c773b.110758","type":"http request","z":"bf661f9.88d9de","name":"","method":"GET","ret":"txt","url":"","tls":"","x":657,"y":384,"wires":[[]]},{"id":"63fc5630.c032f8","type":"function","z":"bf661f9.88d9de","name":"To ESP","func":"msg.url = \"http://192.168.0.137/control?cmd=oled,3,1,\"+\nmsg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":323,"y":38,"wires":[["86f325e.6de1cd8"]]},{"id":"86f325e.6de1cd8","type":"http request","z":"bf661f9.88d9de","name":"","method":"GET","ret":"txt","url":"","tls":"","x":508,"y":35,"wires":[[]]},{"id":"e2111417.a55658","type":"ttn app","z":"","appId":"fb_nodes","accessKey":"ttn-account-v2.Ra6n8Ua9QsdBhANLpV62VLCAcZpPqmJhP1q4E-Np_W0","region":"eu"}]
